server:
	interface: 127.0.0.1
	do-ip6: no
	hide-version: yes

remote-control:
	control-enable: yes

{% for net in sg_networks %}
{% if net.services is defined %}
{% if "dns" in net.services %}
{% if net.domain is defined and net.hosts is defined %}
zone:
	name: "{{ net.domain }}"
	zonefile: "{{ net.domain }}"
{% endif %}
{% if net.hosts is defined %}
zone:
	name: "{{ net.arpa }}"
	zonefile: "{{ net.arpa }}"
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
